@* @model WeatherViewModel.Location
@{
    Layout = null;
}

     @foreach (var item in Model)
        {


            <tr>
                <td>@item.country</td>
                <td>@item.city</td>
                <td>@item.lat</td>
                <td>@item.timezone_id" </td>
            </tr>
        } *@