@model SearchLocationViewModel
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />


<div class="container">

    <br />
    <br />
    @using (Html.BeginForm("Index", "SearchLocation", FormMethod.Get))
    {
        <label>Şehir Adını Giriniz</label>
        <input type="text" class="form-control" />
        <input type="hidden" value="@Model.dest_id" name="lokasyon"/>
        <br />
        <button>Şehir Destination ID Getir</button>
    }
    <hr />
    <table class="table table-hover">  
            <tr>

                <td>@Model.dest_id</td>
            </tr>
        
    </table>

</div>